<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <% @stack.instances.each do |instance| %>
    <tr>
      <td><%= instance.instance_name %></td>
      <td><%= instance.instance_id %></td>
      <td><%= get_instance_state(instance.instance_id) %></td>
      <td><%= link_to "Start", :url => "#" %></td>
    </tr>
  <% end %>
</table>
