# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5bbb687fcc09f2e61603897b9ac22aa10be4122fa3c2715739b3cf400b9211b1ba65595b21c68032972d43ffdd101e45f0da6fc9b815425237678038ca41a00b

test:
  secret_key_base: 24d2b02dc5661e578e475ff4d3cca30f79cc29f3a0710c1422909dfbeb73971e53647d9458ff928c5248afe46564e9850fff70787988982f6627e4fdab5d6d06

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
