<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">StackMan</a>
    </div>
    <div class="collapse navbar-collapse">
      <% if is_admin? %>
      <ul class="nav navbar-nav">
        <% @header_items.each do |item| %>
          <% if params[:controller] == item.downcase %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <%= link_to item, :controller => item.downcase, :action => "index" %>
          </li>
        <% end %>
      </ul>
      <% end %>
      <p class="navbar-text navbar-right">Welcome, <%= @current_user.display_name %></p>
    </div>
  </div>
</nav>
